# compiled output
api/dist
api/node_modules

# Logs
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

# OS
api/.DS_Store

# Tests
api/coverage
api/.nyc_output

# IDEs and editors
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace

# IDE - VSCode
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/.env
api/src/exec/service/runtime/out
api/src/exec/service/runtime/code
api/prisma/dev.db