# visual studio code
.vscode/

# compiled output
api/dist
api/node_modules

# Logs
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

# OS
api/.DS_Store

# Frontend
frontend/dashboard/.env.local
frontend/dashboard/.env
frontend/dashboard/.next
frontend/dashboard/node_modules

# Tests
api/coverage
api/.nyc_output

# IDEs and editors
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace

# IDE - VSCode
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/.env
api/src/exec/service/runtime/out
api/src/exec/service/runtime/code
api/prisma/dev.db


# dependencies
frontend/dashboard/node_modules
frontend/dashboard/.pnp
frontend/dashboard/.pnp.js

# testing
frontend/dashboard/coverage

# next.js
frontend/dashboard/.next/
frontend/dashboard/out/

# production
frontend/dashboard/build

# misc
frontend/dashboard/.DS_Store
frontend/dashboard/*.pem

# debug
frontend/dashboard/npm-debug.log*
frontend/dashboard/yarn-debug.log*
frontend/dashboard/yarn-error.log*
frontend/dashboard/.pnpm-debug.log*

# local env files
frontend/dashboard/.env.local
frontend/dashboard/.env.development.local
frontend/dashboard/.env.test.local
frontend/dashboard/.env.production.local

# vercel
frontend/dashboard/.vercel

# typescript
frontend/dashboard/*.tsbuildinfo

start/node_modules
frontend/dashboard/node_modules

.VSCodeCounter/

# cypress dashboard
frontend/dashboard/cypress/videos/
