# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  basic-tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
          # run copies of the current job in parallel
          containers: [1, 2, 3]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
  
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 17.x

      - name: Setup environment
        run: bash ./test_environment_setup.sh
        
      - name: Build dashboard
        run: |
          cd frontend/dashboard
          npm run build

      - name: Cypress tests
        uses: cypress-io/github-action@v2
        with:
          install: false
          start: bash ./test_environment_start.sh
        
      - name: Export videos
        uses: actions/upload-artifact@v2
        with:
          name: basic-tests-videos
          path: frontend/dashboard/cypress/videos
